﻿@model OSUON.ViewModels.GameViewModel

@{
    ViewBag.Title = "Game - OSUON!";
}

<div class="game-wrapper">
    <span class="btn btn--close">X</span>
    <span class="btn btn--fullscreen">[]</span>

    <canvas id="game-canvas">
        <p>No Canvas support!</p>
    </canvas>
</div>