﻿@model OSUON.ViewModels.SkinsOverviewViewModel

@{
    ViewBag.Title = "Skins List";
}

@{ 
    if(Model == null)
    {
        <p>No skins found!</p>
        return;
    }
}

<h2>Skins</h2>

<div class="row">

    @{
        foreach (var skin in Model.Skins)
        {
            <div class="col-md-2">
                <p>@skin.Title</p>
                <p>@skin.Author</p>

                @Html.ActionLink("View Details", "Index", "Skin", new { id = skin.Id }, null)

        </div>
        }
    }

</div>