﻿@model OSUON.ViewModels.BaseViewModel

@{
    ViewBag.Title = "Home - OSUON!";
}

@{
    if (Model.CurrentUser != null)
    {
        <div class="">
            <h2>Hello @Model.CurrentUser.Username!</h2>
            <p>Welcome back!</p>
        </div>
    }
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>