﻿@model OSUON.ViewModels.BeatmapsOverviewViewModel

@{
    ViewBag.Title = "Beatmaps list";
}

@{
    if (Model == null)
    {
        <p>No beatmap selected!</p>
        return;
    }
}

<h2>Beatmaps</h2>

<div class="row">

    @{
        foreach (var beatmap in Model.Beatmaps)
        {
            <div class="col-md-2">
                <p>@beatmap.Title</p>
                <p>@beatmap.Artist</p>

                @Html.ActionLink("View Details", "Index", "Beatmap", new { id = beatmap.Id }, null)

            </div>
        }
    }

</div>