﻿@model OSUON.ViewModels.UsersOverviewViewModel

@{
    ViewBag.Title = "Users List";
}

<h2>All Users</h2>

<div class="row">

    @{
        foreach (var user in Model.Users)
        {
            Html.RenderPartial("~/Views/User/Button.cshtml", user);
        }
    }

</div>