﻿@model OSUON.ViewModels.BeatmapViewModel

@{
    if (Model == null)
    {
        <p>No beatmap selected!</p>
        return;
    }
}

@{
    ViewBag.Title = Model.Beatmap.Title + " - Beatmap";
}

<h2>@(Model.Beatmap.Artist)</h2>
<p>@(Model.Beatmap.Title)</p>