﻿@model OSUON.ViewModels.SkinViewModel

@{
    if (Model == null)
    {
        <p>No skin selected!</p>
        return;
    }
}

@{
    ViewBag.Title = Model.Skin.Title + " - Skin";
}

<h2>@(Model.Skin.Title)</h2>