﻿@model IEnumerable<KeyValuePair<string, string>>

<dl>
    @{ 
        foreach(var item in Model)
        {
            <dt>@(item.Key)</dt>
            <dd>@Html.Raw(item.Value ?? "Not available")</dd>
        }
    }
</dl>