﻿<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OSUON</title>
  
    @Styles.Render("~/css")
    @Scripts.Render("~/js/libs")
</head>
