﻿@using OSUON.ViewModels
@using OSUON.Controllers

@{ 
    BaseViewModel Model = BaseController.BaseModel;
}

<!DOCTYPE html>
<html>

@{
    Html.RenderPartial("~/Views/Shared/_Head.cshtml");
}

<body>

    @{ 
        Html.RenderPartial("~/Views/Shared/_Navigation.cshtml", Model);
    }

    <main class="@(ViewBag.MainClass)">

        @RenderBody()

    </main>
        
    <footer class="footer">
        <p class="copyright">&copy; @DateTime.Now.Year - Enne van Ziel</p>
    </footer>

    @Scripts.Render("~/js/main")

    @RenderSection("scripts", required: false)
</body>
</html>
