﻿@model OSUON.Models.LoginModel

<section class="container">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">

            @{
                Html.BeginForm("login", "user", FormMethod.Post, new { @class = "login-form light-container" });
                Html.EnableClientValidation();
                Html.AntiForgeryToken();
            }

            @*<div class="alert alert-warning alert-dismissable fade show" role="alert">
                <button class="close" type="button" data-dismiss="alert"><span>&times;</span></button><strong>Warning <span>Not all fields are correct</span></strong>
            </div>*@

            <h2>Login</h2>
            <p>
                use your credentials to sign in. Don't have an account? @Html.ActionLink("Register here", "Register", "User")
            </p>

            <!-- Username Box -->
            <div class="form-group row">
                @Html.LabelFor(x => x.Username, new { @class = "col-md-3 col-sm-12 col-form-label" })
                <div class="col-md-9 col-sm-12">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username" })
                </div>

                <div class="form-control-feedback col offset-3">
                    @Html.ValidationMessageFor(x => x.Username)
                </div>
            </div>

            <!-- Password Box -->
            <div class="form-group row">
                @Html.LabelFor(x => x.Password, new { @class = "col-md-3 col-sm-12 col-form-label" })
                <div class="col-md-9 col-sm-12">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
                <div class="form-control-feedback col offset-3">
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
            </div>

            <!-- Remember Me Checkbox -->
            <div class="form-check">
                <label class="form-check-label offset-sm-3" for="RememberMe">
                    @Html.CheckBoxFor(x => x.RememberMe, new { @class= "form-check-input" })

                    Remember Me
                </label>

            </div>
            <div class="form-group-row row">
                <div class="col">
                    <button class="btn btn-primary" type="submit">Sign In</button>
                </div>
            </div>
            
            @{
                Html.EndForm();
            }

        </div>
    </div>
</section>