﻿@model OSUON.ViewModels.BaseViewModel

@{ 
    var currentUser = Model.CurrentUser;
}

<nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top" style="background-image:url('');">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbarNavDropdown"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="#"><img src="http://via.placeholder.com/40x40" alt="" width="40" height="40"></a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                @*
                    // Determine which item is active :D    
                *@

                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Profile", "Index", "User", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Users", "Index", "Users", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Skins", "Index", "Skins", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Beatmaps", "Index", "Beatmaps", null, new { @class = "nav-link" })</li>
            </ul>

            @{
                if (Model.CurrentUser == null)
                {
                    <ul class="navbar-nav user-box">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><span>Guest</span></a>
                            <div class="dropdown-menu user-menu" aria-labelledby="navbarDropdownMenuLink">
                                @Html.ActionLink("Login", "Login", "User", null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Register", "Register", "User", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav user-box">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                <img class="user-icon" src="@(currentUser.ProfileImageUrl)" alt="" width="30" height="30">
                                <span>@(currentUser.Username)</span>
                            </a>
                            <div class="dropdown-menu user-menu" aria-labelledby="navbarDropdownMenuLink">
                                @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    </ul>
                }
            }
            
        </div>
    </div>
</nav>
