﻿@model OSUON.Models.UserModel

@{
    ViewBag.Title = "Edit Profile";
}

@{ 
    if(Model == null)
    {
        <h2>No Profile selected</h2>
        return;
    }
}

<h2>
    Edit your profile ( @Model.Username )
</h2>

@{ 
    Html.BeginForm("Edit", "User");
}

@Html.LabelFor(x => x.BirthDay)
@Html.TextBoxFor(x => x.BirthDay)
@Html.ValidationMessageFor(x => x.BirthDay)

@Html.LabelFor(x => x.About)
@Html.TextBoxFor(x => x.About)
@Html.ValidationMessageFor(x => x.About)

@Html.LabelFor(x => x.ProfileImageUrl)
@Html.TextBoxFor(x => x.ProfileImageUrl)
@Html.ValidationMessageFor(x => x.ProfileImageUrl)

<button type="submit">Edit</button>

@{ 
    Html.EndForm();
}