﻿@model OSUON.ViewModels.UserViewModel

@{
    ViewBag.MainClass += " user";
    if (Model == null)
    {
        <h2>No Profile selected</h2>
        return;
    }
}

@{
    ViewBag.Title = Model.User.Username + " - Profile";
}

<section class="page-banner">
    <div class="container user-profile">
        <div class="row">
            <div class="user-profile__image-box col-12 col-sm-4 col-md-3 col-lg-2">
                <div class="user-profile__image" style="background-image:url('@(Model.User.ProfileImageUrl)');"></div>
            </div>
            <div class="col-12 col-sm-8 col-md-9 col-lg-4 title-container">
                <div>
                    <h1 class="page-title">Arthesian</h1>
                    <p class="page-intro">Enne van Ziel</p>
                </div>
            </div>
            <div class="col-12 hidden-lg-up">
                <hr>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 user__about">
                @{
                    Html.RenderPartial("_DefinitionList", Model.AboutList.Take(4));
                }
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 user__about">
                @{
                    Html.RenderPartial("_DefinitionList", Model.AboutList.Skip(4));
                }
            </div>
        </div>
    </div>
</section>

<section class="container play-ranks">
    <div class="row">
        <div class="col-12">
            <h2>Awards </h2>
        </div>
        <div class="col-12">
            <div class="row award__container">
                <div class="award award-s">
                    <div class="award__logo"><img src="/static/img/ranking-S.png" alt="S-award"></div>
                    <div class="award__count">@Model.Awards["S"]</div>
                </div>
                <div class="award award-ss">
                    <div class="award__logo"><img src="/static/img/ranking-X.png" alt="SS-award"></div>
                    <div class="award__count">@Model.Awards["SS"]</div>
                </div>
                <div class="award award-a">
                    <div class="award__logo"><img src="/static/img/ranking-A.png" alt="A-award"></div>
                    <div class="award__count">@Model.Awards["A"]</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="user-stats">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Statistics</h2>
            </div>
            <div class="col-12">
                @{
                    Html.RenderPartial("_DefinitionList", Model.Statistics);
                }
            </div>
        </div>
    </div>
</section>

<section class="container list list--top">
    <div class="row">
        <div class="col-12">
            <h2 class="list__title">Recent plays</h2>
            <p class="list__text">Recent beatmaps plays</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 list__container">
            <div class="row list__item">
                <div class="col-2 col-md-1">
                    <div class="list__item__image" style="background-image:url(@Model.User.ProfileImageUrl);"></div>
                </div>
                <div class="col-6 col-md-7 col-xl-9">Generic list item text ( title )</div>
                <div class="col-2 col-xl-1">Date?</div>
                <div class="col-2 col-xl-1">Count?</div>
            </div>
        </div>
    </div>
</section>

<h1>
    @Html.ActionLink("ID Link", "Profile/Id", "User", new { id = Model.User.Id }, null)
    @Html.ActionLink("Username Link", "Profile", "User", new { username = Model.User.Username }, null)
</h1>

@Html.ActionLink("Edit", "Edit", "User")

@Html.ActionLink("Settings", "Settings", "User")