﻿@model OSUON.Models.UserModel

@{
    if (Model == null)
    {
        <h2>No Profile selected</h2>
        return;
    }
}

@{
    ViewBag.Title = Model.Username + " - Settings";
}

<h2>@(Model.Username)'s Settings</h2>